.version.index /* version checker */
{
	color: #000001;
	background-color: #C7E270;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 647px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 322px;
	width: 0.01px;
}

#pu272
{
	width: 0.01px;
	margin-left: -100px;
}

#u272
{
	z-index: 2;
	min-height: 154px;
	padding-bottom: 98px;
}

#u272:hover
{
	min-height: 154px;
	margin: 0px;
}

#u272_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#u275-4
{
	z-index: 3;
	width: 416px;
	min-height: 73px;
	margin-right: -10000px;
	margin-top: 64px;
	left: 402px;
}

#u272-bw
{
	z-index: 2;
	min-height: 154px;
}

#u277-4
{
	z-index: 7;
	width: 519px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 153px;
	left: 351px;
}

#u611-5
{
	z-index: 11;
	width: 176px;
	min-height: 22px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	color: #C1272D;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	margin-left: 422px;
	margin-top: 49px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
	padding-bottom: 100px;
}

#page .verticalspacer
{
	clear: both;
}

